*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
.classpath
.project
.settings/*
.calva
.lsp/
certs
ci/deps.edn
\#*\#
# Keep shared lint config; ignore clj-kondo cache / imports / hooks
.clj-kondo/*
!.clj-kondo/config.edn
*~
\#*\#
.\#*
.~*
.shadow-cljs
node_modules
karma.conf.js
package.json
package-lock.json
shadow-cljs.edn
resources/META-INF
.data
.gorilla
.flowy