{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  nano-id/nano-id {:mvn/version "1.1.0"}
  babashka/fs {:mvn/version "0.5.22"}
  com.taoensso/telemere {:mvn/version "1.0.0-beta25"}
  org.pinkgorilla/timbre {:mvn/version "0.0.7"}
  de.otto/nom {:mvn/version "0.3.0"}
  org.pinkgorilla/clj-service {:mvn/version "0.3.20"}}
 
 :aliases
 {; github ci  
 :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                slipset/deps-deploy {:mvn/version "0.2.1"}}
         :ns-default build}
  
   :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main"
               "--indents" "cljfmt.edn"
               "check"
               "./src"
               "./demo/src"]}
  
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main"
               "--indents" "cljfmt.edn"
               "fix"
               "./src"
               "./demo/src"]}
  
  ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.03.13"}}
   :main-opts ["-m" "clj-kondo.main"
               "--config" "cljkondo.edn"
               "--fail-level" "error"
               "--lint"
               "./src"
               "./demo/src"]}
 
 }}