{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.12.4"}
  nano-id/nano-id {:mvn/version "1.1.0"}
  babashka/fs {:mvn/version "0.5.22"}
  org.pinkgorilla/timbre {:mvn/version "0.0.8"}
  funcool/promesa {:mvn/version "11.0.674"}
  org.clojure/data.codec {:mvn/version "0.1.1"} ; image base64 encoding
  org.pinkgorilla/edn-x {:mvn/version "0.1.4"}
  org.pinkgorilla/transit-ajax {:mvn/version "0.1.11"}
  org.pinkgorilla/webserver {:mvn/version "0.2.75"} ; dali-cache
  org.pinkgorilla/clj-service-flowy {:mvn/version "0.2.50"} ; clj interop
  org.pinkgorilla/css-theme {:mvn/version "0.1.13"} ; css themes
  }
 
 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
  
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main"
               "--indents" "cljfmt.edn"
               "check"
               "./src"
               "./demo/src"]}
  
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main"
               "--indents" "cljfmt.edn"
               "fix"
               "./src"
               "./demo/src"]}
  
  ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.04.07"}}
   :main-opts ["-m" "clj-kondo.main"
               ;"--config" "cljkondo.edn"
               "--fail-level" "error"
               "--lint"
               "./src"
               ;"./demo/src"
               ]}
  
  }}