{:name "dali"
 ; build
 :lazy true
 :depends-on #{:js-interop}
 :cljs-namespace [dali.viewer
                  dali.cljviewer
                  dali.container
                  dali.util.color
                  dali.error-boundary
                  ; viewers
                  dali.viewer.hiccup
                  dali.viewer.text
                  dali.viewer.nom]
 :cljs-ns-bindings {'dali.viewer {'viewer dali.viewer/viewer
                                  'viewer2 dali.viewer/viewer2}
                    'dali.cljviewer {'clj-viewer dali.cljviewer/clj-viewer}
                    'dali.container {'container-dimension dali.container/container-dimension}

                    'dali.util.color {'set-color dali.util.color/set-color}
                    ; viewers
                    'dali.viewer.text {'text-exception dali.viewer.text/text-exception
                                       'text dali.viewer.text/text}
                    'dali.viewer.hiccup {'hiccup dali.viewer.hiccup/hiccup}
                    'dali.viewer.nom {'anomaly dali.viewer.nom/anomaly}
                    'dali.error-boundary {'ErrorBoundary dali.error-boundary/ErrorBoundary
                                          'error-boundary dali.error-boundary/error-boundary
                                          }
                    }}
