{:extension/name :dali-flowy
 ; build
 :cljs/module :main
 ;:cljs/when-defined :flowy ; this needs also :sci really
 :cljs/namespace [dali.flowy
                  dali.flowy.tap]
 :cljs/ns-bindings {'dali.flowy {'dali-flow-viewer dali.flowy/dali-flow-viewer
                                 'dali-task-viewer dali.flowy/dali-task-viewer}
                    'dali.flowy.tap {'page dali.flowy.tap/page}}
 
 ; runtime
 ; clj service also needs :flowy to be defined.
 :clj-service [{:fun dali.flowy.tap/listen :mode :ap}]

 }
