{:name "demo"
 :lazy true ; must be true, since it depends on dali
 :depends-on #{:dali :dali-flowy}
 :cljs-namespace [demo.page
                  demo.person
                  ]
 :cljs-ns-bindings {'demo.page {'page demo.page/page} ; page routing
                    'demo.person {'person demo.person/person} ; viewer resolution
                    }

 ; runtime
 :cljs-routes  {"" demo.page/page}
 ;:clj-services {:name "demo"
;                :permission nil
;                :symbols [demo.service.saying/saying
;                          demo.service.image/sun
;                          ]}
 
 :flowy [; one services is defined here, 
          ; the rest of the services are defined in the config.
         {:fun demo.service.counter/counter-fn :mode :ap}]
 
 
 }

