{:name "demo"
 :lazy true ; must be true, since it depends on dali
 :depends-on #{:dali :dali-flowy}
 :cljs-namespace [demo.page
                  demo.person
                  demo.viewer]
 :cljs-ns-bindings {'demo.page {'page demo.page/page} ; page routing
                    'demo.person {'person demo.person/person} ; viewer resolution
                    'demo.viewer {'employee demo.viewer/employee}}

 ; runtime
 :cljs-routes  {"" demo.page/page}
 
 :flowy [{:fun demo.service.counter/counter-fn :mode :ap}
         {:fun demo.service.employee/best-employee :mode :clj :fixed :dali-store}
         {:fun demo.service.saying/saying :mode :clj}
         {:fun demo.service.saying/saying-flow :mode :ap}
         ;{:fun demo.service.image/sun :mode :sp}
         ]
 
 
 }

