{:paths ["src"
         "resources"]

 :deps {org.clojure/clojure    {:mvn/version "1.12.4"}
        org.pinkgorilla/ui-router {:mvn/version "0.3.45"}
        org.pinkgorilla/dali {:local/root "../" :deps/manifest :deps}
        org.pinkgorilla/webly {:mvn/version "0.20.732"}}

 :aliases {;; WATCH
           :npm-install
           {:exec-fn webly.spa/webly-build
            :config {:extension {:disabled #{"ui-tailwind"
                                             "missionary-sci"}}}
            :exec-args {:profile "npm-install"}}
           
           :demo
           {:exec-fn modular.system/start!
            :exec-args {:profile "watch"
                        :version "watch"
                        :config [{:extension {:disabled #{"ui-tailwind"
                                                          "missionary-sci"}}
                                  :spa {:title "dali-demo"
                                        :mount-fn router.app/mount}
                                  :reitit {:wrap demo.app/wrap}
                                  :cljs-routes-reitit demo.app/routes
                                  }]
                        :services "demo-services.edn"}}

           }
;
 }
