{:paths ["src"
         "resources"]

 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        org.pinkgorilla/webly {:mvn/version "0.9.721"} ; build tool
        org.pinkgorilla/dali {:local/root "../" :deps/manifest :deps}}

 :aliases {;; WATCH
           :npm-install
           {:exec-fn webly.spa/webly-build
            :config {:extension {:disabled #{"ui-tailwind"
                                             "missionary-sci"}}}
            :exec-args {:profile "npm-install"}}
           :demo
           {:exec-fn modular.system/start!
            :exec-args {;:profile "jetty"
                        :profile "watch"
                        :config {:extension {:disabled #{"ui-tailwind"
                                                         "missionary-sci"}}}
                        :services "demo-services.edn"}}

           ;; BUILD / SERVE

           :compile {:exec-fn webly.spa/webly-build
                     :exec-args {:config {:extension {:disabled #{"ui-tailwind"
                                                                  "missionary-sci"}}}
                                 :profile "compile"}}

           :release-adv {:exec-fn webly.spa/webly-build
                         :exec-args {:config {:extension {:disabled #{"ui-tailwind"
                                                                      "missionary-sci"}}}
                                     :profile "release-adv"}}

           :jetty
           {:exec-fn modular.system/start!
            :exec-args {:profile "jetty"
                        :config {:extension {:disabled #{"ui-tailwind"
                                                         "missionary-sci"}}}
                        :services "demo-services.edn"}}}
;
 }
